html, body {
    font-family: 'Ubuntu', sans-serif;
}

.content {
    padding-top: 1.1rem;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }


h1, h2, h3, h4, h5, h6 {
    line-height: 1;
}

.full-size {
    width: 100%;
    height: 100%;
}

.full-viewport {
    width: 100vw;
    height: 100vh;
}

.flex {
    display: flex;
}

    .flex--centered {
        justify-content: center;
        align-items: center;
    }

    .flex--end {
        justify-content: flex-end;
    }

.padding, .padding--top, .padding--horizontal { padding-top: 1rem; }
.padding, .padding--bottom, .padding--horizontal { padding-bottom: 1rem; }
.padding, .padding--left, .padding--vertical { padding-left: 1rem; }
.padding, .padding--right, .padding--vertical { padding-right: 1rem; }