@page "/user/{UserId:int}/puzzles-progress"
@inject StateService StateService;
@inject ChessNavigationManager NavigationManager;
@inject PuzzleRepository PuzzleRepo;

<div class="flex flex--centered">
    <div>
        <h1>Cześć, @userName!</h1>
        <div class="padding--horizontal">
            Które zadania wybierasz?
        </div>  
        <MatList SingleSelection="true" TwoLine="true">
            @foreach (var puzzleSet in puzzleSets)
            {
                <MatListItem OnClick="() => Choose(puzzleSet)">
                    <MatListItemText>
                        <MatListItemPrimaryText>@puzzleSet.Title</MatListItemPrimaryText>
                        <MatListItemSecondaryText>Nierozwiązane.</MatListItemSecondaryText>
                    </MatListItemText>
                </MatListItem>
                <MatListDivider></MatListDivider>
            }
        </MatList>
    </div>
</div>

@code {
    private string userName;
    private IEnumerable<PuzzleSet> puzzleSets;
    
    [Parameter]
    public int? UserId { get; set; } = 1;
    
    protected override void OnInitialized()
    {
        if (UserId.HasValue)
        {
            userName = StateService.GetUserName(UserId.Value);
        }
        else
        {
            NavigationManager.NavigateToIndex();
        }
        puzzleSets = PuzzleRepo.PuzzleSets;
    }

    private void Choose(PuzzleSet puzzleSet)
    {
        NavigationManager.NavigateToPuzzles(UserId.Value, puzzleSet.Id);
    }
}