.chessboard__wrapper {
    padding-bottom: 100%;
    position: relative;
}

.chessboard {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    min-width: 200px;
    min-height: 200px;
    position: absolute;
    width: 100%;
    height: 100%;
}

/*

Let's use these colors:

BURLYWOOD
https://www.schemecolor.com/sample?getcolor=DEB887

REDWOOD
https://www.schemecolor.com/sample?getcolor=a55b53

SEAL BROWN
https://www.schemecolor.com/sample?getcolor=5b270b

DOLPHIN GRAY
https://www.schemecolor.com/sample?getcolor=7C9990

*/
.chessboard__field--light {
    background-color: #EFDCC3;
}

.chessboard__field--dark {
    background-color: #A3B8B1;
}