.chessboard__wrapper {
    padding-bottom: 100%;
    position: relative;
}

.chessboard {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    min-width: 200px;
    min-height: 200px;
    position: absolute;
    width: 100%;
    height: 100%;
}