@using ChessNET.Domain
<div class="piece @SelectedClass"
    style="
        background-image: url(@BackgroundImageUrl);
        grid-column: @GridColumnStart / span 1;
        grid-row: @GridRowStart / span 1;
    "
    @onclick="HandleClick"
    >
</div>

@code {
    [Parameter]
    public PiecePosition Position { get; set; }

    [Parameter]
    public EventCallback<PiecePosition> OnClick { get; set; }

    [Parameter]
    public bool IsSelected { get; set; }


    private string SelectedClass => IsSelected ? "piece--selected" : "";

    private string BackgroundImageUrl
    {
        get
        {
            var color = Position.Color == Color.White ? "w" : "b";
            return $"images/pieces/california/{color}{Position.Piece.GetLetterCode()}.svg";
        }
    }

    private int GridColumnStart => (int) Position.Square.File;

    private int GridRowStart => 9 - Position.Square.Rank;

    private async Task HandleClick()
    {
        await OnClick.InvokeAsync(Position);
    }
}