/*

Let's use these colors:

BURLYWOOD
https://www.schemecolor.com/sample?getcolor=DEB887

REDWOOD
https://www.schemecolor.com/sample?getcolor=a55b53

SEAL BROWN
https://www.schemecolor.com/sample?getcolor=5b270b

DOLPHIN GRAY
https://www.schemecolor.com/sample?getcolor=7C9990

*/
.square--light {
    background-color: #EFDCC3;
}

.square--dark {
    background-color: #A3B8B1;
}